# Visual Studio Code user specific files
.vscode/

# Curse Forge user specific stuff
.curseclient

# User specific settings
options.txt
# Server list of the user - should include server.dat and server.dat_old [may potentionally break something with the mods but we dont know]
server*.dat* 

# System info
crash-reports/
logs/
saves/
local/
cache/
assets/
libraries/
runtime/
versions/

# MC user specific cache
launcher_profiles.json
usercache.json
usernamecache.json
minecraftinstance.json

# Rhino - idfk
rhino.local.properties

# Auto generated TLauncher mods
mods/tl_skin_cape_forge_1.20-1.36.jar
mods/tl_skin_cape_forge_1.20.1-1.32.jar
TempOptifineStore-1.0.json

# Ignore configs
config/flywheel-client.toml
config/fml.toml

# Ignore kubejs
kubejs/config/probejs.json

# All .bak files
*.bak

